.voluntariosWrapper {
  padding: 1rem 0rem 2rem;

  .infoVoluntario {
    width: 70%;
    margin: auto;
  }

  .formInputs {
    align-self: center;
    display: flex;
    max-width: 700px;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    button {
      padding: 1rem 4rem;
    }
  }
  .formVoluntario {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .buttonVoluntario {
    box-shadow: none;
    background: none;
    cursor: pointer;
    border: 3px solid #c1d13d;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 16px;
    padding: 0.5rem 0.5rem;

    &:hover {
      color: #293800;
      background: #c1d13d;
    }
  }
  .cadastro {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .cadastro label {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
    color: var(--nav-link);
  }
  .cadastro input {
    margin-bottom: 2px;
    border: 1px solid var(--nav-link);
    height: 30px;
  }
  #habilidades {
    margin-top: 20px;
  }
}
