.voluntarioContainer {
  padding: 1rem 0 2rem;
}

.infoVoluntario {
  width: 70%;
  margin: auto;
}

.formInputs {
  align-self: center;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  button {
    padding: 1rem 2rem;
    align-self: stretch;
  }
}
.buttonVoluntario {
  box-shadow: none;
  background: none;
  cursor: pointer;
  border: 3px solid #c1d13d;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 16px;
  padding: 0.5rem 0.5rem;
  &:hover {
    color: #293800;
    background: #c1d13d;
  }
}
.formVoluntario {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  label {
    color: black;
  }
  .dataNascimento {
    margin-top: 12px;
    font-size: 12px;
  }
  .dataNascimentoInput {
    color: rgb(124, 124, 124);
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(124, 124, 124);

    &:hover {
      border-bottom: 2px solid black;
    }
  }
}

/* .cadastro {
  display:flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
.cadastro label {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
  color: var(--nav-link);
}
.cadastro input {
  margin-bottom: 2px;
  border: 1px solid var(--nav-link);
  height: 30px;
}
#habilidades{
  margin-top: 20px; 
}*/
.btnEnviar {
  align-self: flex-start;
  padding: 1rem 2rem;
}
