.contatoContainer {
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
  width: 100%;
  max-width: 1020px;

  .title {
    color: #4b362d;
    font-size: 2rem;
    margin-left: 50px;
  }

  .contato {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
  }
  .infoContato {
    width: 50%;
    text-align: left;
  }
  .formContato {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    min-width: 400px;
    max-width: 400px;
    flex: 1;
  }
}
