.perguntasFrequentesContainer {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  width: 100%;
  max-width: 1020px;

  h2 {
    text-align: left;
    font-size: 2rem;
  }
}
